.page-navigator{
    display: flex;
    overflow: hidden;
}

.page-item{
    border-top: 1px solid #202124;
    border-bottom: 1px solid #202124;
    border-right: 1px solid #202124;
    padding: 10px;
    cursor: pointer;
    background-color: #383B3E;
    color: #80A6E4;
}

.page-navigator :first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #202124;
}

.page-navigator :last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #202124;
}

.page-item:hover{
    color: #B580E4;
}

.page-item--clicked{
    color: #B580E4;
}
